#root {
  padding: 2rem;
}

.rive-canvas {
  width: 500px !important;
  height: 500px !important;
}

canvas {
  height: 400px !important;
}

.screenshot {
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
}
